bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/*.7z
**/*.zip
**/*.tar
**/*.xml
**/*.user
*.DotSettings
*.user
*.suo
*.userosscache
*.sln.docstates
**/dist/
**/bin/
**/obj/
**/lib/

# Terminal.Gui的教程示例
Libraries/Terminal.Gui
Libraries/TokenFight.UI/Examples